[%# -*- mode: html -*- %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Terry Weissman <terry@mozilla.org>
  #                 Jacob Steenhagen <jake@bugzilla.org>
  #                 Vitaly Harisov  <vitaly@rathedg.com>
  #                 Guy Pyrzak <guy.pyrzak@gmail.com>
  #%]

[%# INTERFACE:
  # release: a hash containing data about new releases, if any.
  #%]

[% PROCESS global/variables.none.tmpl %]


[% PROCESS global/header.html.tmpl
   title = "$terms.Bugzilla - Hlavní strana"
   header = "Hlavní strana" 
   header_addl_info = "version $constants.BUGZILLA_VERSION"
   style_urls = [ 'skins/standard/index.css' ]
%]


<script type="text/javascript">
<!--
function onLoadActions() {
  quicksearchHelpText('quicksearch_main', 'show');
  if( window.external.AddSearchProvider ){
    YAHOO.util.Dom.removeClass('quicksearch_plugin', 'bz_default_hidden');
  }
  document.getElementById('quicksearch_top').focus();
}
var quicksearch_message = "Vlož ID [% terms.bugu %] nebo vyhledávaná slova";

function checkQuicksearch( form ) {
  if (form.quicksearch.value == '' || form.quicksearch.value == quicksearch_message ) { 
    alert('Zadejte prosím nejdříve jedno nebo více vyhledávaných slov.');
    return false; 
  }
  return true;         
}

function quicksearchHelpText(el_id, action){
  var el = document.getElementById(el_id);
  if ( action == "show") {
    if( el.value == "" ) {
      el.value = quicksearch_message
      YAHOO.util.Dom.addClass(el, "quicksearch_help_text");
    }
  } else {
    if( el.value == quicksearch_message ) {
      el.value = "";
      YAHOO.util.Dom.removeClass(el, "quicksearch_help_text");
    }
  }
}
YAHOO.util.Event.onDOMReady(onLoadActions);
//-->
</script>

[% IF release %]
  <div id="new_release">
    [% IF release.data %]
      [% IF release.deprecated %]
        <p>[% terms.Bugzilla %] [%+ release.deprecated FILTER html %] již není nadále podporovaná.
        Důrazně vás upozorňujeme abyste provedl
	instalaci nové verze, pokud má být váš systém bezpečný.</p>
      [% END %]

      <p>Nová verze systému [% terms.Bugzilla %]: ([% release.data.latest_ver FILTER html %])
      je k dispozici
      <a href="[% release.data.url FILTER html %]">[% release.data.url FILTER html %]</a>.<br>
      Datum vydání: [% release.data.date FILTER html %]</p>

      <p class="notice">Tato zpráva je dostupná pouze administrátorů. 
      Toto upozornění lze nastavit ve formuláři na stránce
      <a href="editparams.cgi?section=general#upgrade_notification">Administrace</a>.</p>
    [% ELSIF release.error == "cannot_download" %]
      <p>Vzdálený soubor <a href="[% constants.REMOTE_FILE FILTER html %]">
      [%~ constants.REMOTE_FILE FILTER html %]</a> není možné stáhnout
      (důvod: [% release.reason FILTER html %]).<br>
      Buď je vzdálený server dočasně nedostupný nebo Váš web server nemůže přistupovat
      k síti. Pokud jste za proxy serverem, nastavte si prosím správně parametry
      <a href="editparams.cgi?section=advanced#proxy_url_desc">proxy_url</a>.</p>
    [% ELSIF release.error == "no_write" %]
      <p>Lokální soubor XML '[% constants.LOCAL_FILE FILTER html %]' nelze vytvořit
      (důvod: [% release.reason FILTER html %]).<br>
      Prosím ujistěte se, že web server může zapisovat do tohoto adresáře.</p>
    [% ELSIF release.error == "no_update" %]
      <p>Lokální soubor XML '[% constants.LOCAL_FILE FILTER html %]' není možné aktualizovat.
      Prosím ujistěte se, že web server může aktualizovat tento soubor.</p>
    [% ELSIF release.error == "no_access" %]
      <p>Lokální soubor XML '[% constants.LOCAL_FILE FILTER html %]' nelze číst.
      Prosím ujistěte se, že tento soubor má přiřazena správná oprávnění.</p>
    [% ELSIF release.error == "corrupted" %]
      <p>Lokální soubor XML '[% constants.LOCAL_FILE FILTER html %]' má neplatný XML formát.
      Prosím smažte jej a zkuste opětovně načíst tuto stránku.</p>
    [% ELSIF release.error == "unknown_parameter" %]
      <p>'[% Param("upgrade_notification") FILTER html %]' není platný parametr upozornění.
      Prosím zkontrolujte jej na stránce s
      <a href="editparams.cgi?section=general#upgrade_notification_desc">parametry</a>.</p>
    [% END %]
  </div>
[% END %]

<div id="page-index">
  <table>
    <tr>
      <td>
        <h1 id="welcome">Vítejte v aplikaci [% terms.Bugzilla %]</h1>
        <div class="intro">[% Hook.process('intro') %]</div>

        <div class="bz_common_actions">
          <ul>
            <li>
              <a id="enter_bug" href="enter_bug.cgi"><span>Vložit
              požadavek</span></a>
            </li>
            <li>
              <a id="query" href="query.cgi"><span>Hledat</span></a>
            </li>
            <li>
              <a id="account"
                 [% IF user.id %]
                   href="userprefs.cgi"><span>Uživatelská nastavení</span></a>
                 [% ELSIF Param('createemailregexp')
                          && user.authorizer.user_can_create_account 
                 %]
                   href="createaccount.cgi"><span>Vytvořit nový účet</span></a>
                 [% ELSE %]
                   href="?GoAheadAndLogIn=1"><span>Přihlásit se</span></a>
                 [% END %]
            </li>
          </ul>
        </div>

        <form id="quicksearchForm" name="quicksearchForm" action="buglist.cgi"
              onsubmit="return checkQuicksearch(this);">
          <div>
            <input id="quicksearch_main" type="text" name="quicksearch"
              title="Quick Search" 
              onfocus="quicksearchHelpText(this.id, 'hide');"
              onblur="quicksearchHelpText(this.id, 'show');"
            >
            <input id="find" type="submit" value="Rychlé hledání">
            <ul class="additional_links" id="quicksearch_links">
              <li>
                <a href="page.cgi?id=quicksearch.html">Nápověda k rychlému hledání</a>
              </li>
              <li class="bz_default_hidden" id="quicksearch_plugin">
                |
                <a href="javascript:window.external.AddSearchProvider('[% urlbase FILTER html %]search_plugin.cgi')">
                 Instalovat doplněk Rychlého hledání
                </a>
              </li>
            </ul>
            <ul class="additional_links">
              <li>
                <a href="[% docs_urlbase FILTER html %]using.html">
                  [%- terms.Bugzilla %] Uživatelská příručka </a>
              </li>
              <li>
                |
                <a href="page.cgi?id=release-notes.html">Poznámky k vydání</a>
              </li>
              [% Hook.process('additional_links') %]
            </ul>
          </div>
        </form>
        <div class="outro">[% Hook.process('outro') %]</div>
      </td>
    </tr>
  </table>
</div>

[% PROCESS global/footer.html.tmpl %]
