[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # watchedusers: string.
  #               Comma-separated list of email addresses this user watches.
  # watchers:     array.
  #               Array of users watching this user's account.
  # excludeself:  boolean.
  #               True if user is not receiving self-generated mail.
  # <rolename>:   Multiple hashes, one for each rolename (e.g. assignee; see
  #               below), keyed by reasonname (e.g. comments; again, see
  #               below). The value is a boolean - true if the user is
  #               receiving mail for that reason when in that role.
  #%]

[%# If the user's bugmail has been disabled by admins, show a warning. %]
[% IF user.email_disabled %]
  <div class="warningmessages">
    Váš e-mail administrátor zneplatnil pro zasílání [% terms.bugsu %] v aplikaci  
    [% terms.Bugzilla %]. Kontatkutjte administrátora [% Param('maintainer') %]
    pro jeho opětovné povolení.
  </div>
[% END %]

<p>
  Pokud chcete změnit váš email <b>[% user.email FILTER html %]</b>
  používaný aplikací [% terms.Bugzilla %] k oznámením, klikněte na záložku
  "Nastavení" výše.
</p>

<p>
  Pokud nerad dostáváte oznámení o "triviálních" změnách,
  můžete použít nastavení níže 
  k odstranění zbytečných oznámení.
</p>

<script type="text/javascript">
<!--
function SetCheckboxes(setting) {
  for (var count = 0; count < document.userprefsform.elements.length; count++) {
    var theinput = document.userprefsform.elements[count];
    if (theinput.type == "checkbox"
        && !theinput.disabled
        && !theinput.name.match("remove_ignored_bug"))
    {
      if (theinput.name.match("neg")) {
        theinput.checked = !setting;
      }
      else {
        theinput.checked = setting;
      }
    }
  }
}
// -->
</script>

<input type="button" value="Povolit všechny e-maily" onclick="SetCheckboxes(true); return false;">
<input type="button" value="Zakázat všechny e-maily" onclick="SetCheckboxes(false); return false;">

<hr>

<h3>Obecné volby</h3>

[% prefname = "email-$constants.REL_ANY-$constants.EVT_FLAG_REQUESTED" %]
<input type="checkbox" name="[% prefname %]" id="[% prefname %]" value="1"
       [%+ 'checked="checked"' IF user.mail_settings.${constants.REL_ANY}.${constants.EVT_FLAG_REQUESTED} %]>
<label for="[% prefname %]">Pošli mi e-mail když mě někdo zažádá o nastavení příznaku</label>
<br>
[% prefname = "email-$constants.REL_ANY-$constants.EVT_REQUESTED_FLAG" %]
<input type="checkbox" name="[% prefname %]" id="[% prefname %]" value="1"
       [%+ 'checked="checked"' IF user.mail_settings.${constants.REL_ANY}.${constants.EVT_REQUESTED_FLAG} %]>
<label for="[% prefname %]">Pošli mi e-mail když někdo nastaví příznak, o který jsem požádal</label>

[% IF user.is_global_watcher %]
  <p>
    Sledujete všechny [% terms.bugs %]. Tuto roli vám může odebrat
    <a href="mailto:[% Param("maintainer") %]">[% Param("maintainer") %]</a>.
  </p>
[% END %]

<hr>

<h3>Volby specifické pro pole/příjemce</h3>

[% events = [
    { id = constants.EVT_ADDED_REMOVED,
      description = "Je mi přidána nebo odstraněna tato schopnost" },
    { id = constants.EVT_BUG_CREATED,
      description = "Je vytvořen nový $terms.bug" },
    { id = constants.EVT_OPENED_CLOSED,
      description = "$terms.Bug je vyřešen nebo znovuotevřen" },
    { id = constants.EVT_COMPONENT,
      description = "Se změní produkt nabo komponenta" },
    { id = constants.EVT_PROJ_MANAGEMENT,
      description = "Se změní priorita, stav, závažnost nebo milník" },
    { id = constants.EVT_COMMENT,
      description = "Je přidán nový komentář" },
    { id = constants.EVT_ATTACHMENT,
      description = "Je přidána nová příloha" },
    { id = constants.EVT_ATTACHMENT_DATA,
      description = "Se změní nějaká data přílohy" },
    { id = constants.EVT_KEYWORD,
      description = "Se změní klíčová slova" },
    { id = constants.EVT_CC,
      description = "Se změní pole 'V kopii(CC)'" },
    { id = constants.EVT_DEPEND_BLOCK,
      description = "Se změní strom závislostí" },
    { id = constants.EVT_OTHER,
      description = "Se změní jakékoliv další pole, které nebylo zmíněno" },
] %]

[% neg_events = [
    { id = constants.EVT_UNCONFIRMED,
      description = "Je $terms.bug ve stavu 'Nepotvrzený'" },
    { id = constants.EVT_CHANGED_BY_ME,
      description = "Byl požadavek změněn mnou" },
] %]

[% relationships = [
    { id = constants.REL_ASSIGNEE,
      description = "Příjemce" },
    { id = constants.REL_REPORTER,
      description = "Oznamovatel" },
    { id = constants.REL_CC,
      description = "V Kopii(CC)" },
] %]

[% IF Param('useqacontact') %]
  [% relationships.push({ id = constants.REL_QA, 
                          description = "QA kontakt" }) %]
[% END %]


[%# This is up here so that the "relationships" hook can modify it. %]
[% no_added_removed = [constants.REL_REPORTER] %]

[% Hook.process('relationships') %]

[% num_columns = relationships.size %]

<table id="email_prefs">
  <tr class="column_header">
    <th colspan="[% num_columns FILTER html %]">
      Když je můj vztah k [% terms.bugu %]:
    </th>
    <th>Chci dostávat e-maily když:</th>
  </tr>

  <tr>
    [% FOREACH relationship = relationships %]
      <th class="role_header">[% relationship.description FILTER html %]</th>
    [% END %]
  </tr>

  [% FOREACH event = events %]  
    [% count = loop.count() %]
    <tr class="bz_row_[% count % 2 == 1 ? "odd" : "even" %]">
      [% FOREACH relationship = relationships %]
        <td class="center">
          <input type="checkbox" value="1"
                 name="email-[% relationship.id %]-[% event.id %]"
                 [%# The combinations don't always make sense; disable a couple %]
                 [% IF event.id == constants.EVT_ADDED_REMOVED
                       AND no_added_removed.contains(relationship.id) %]
                   disabled="disabled"
                 [% ELSIF user.mail_settings.${relationship.id}.${event.id} %]
                   checked="checked"
                 [% END %]>
        </td>
      [% END %]
      <td>
        [% event.description FILTER html %]
      </td>
    </tr>
  [% END %]

  <tr class="column_header">
    <th colspan="[% num_columns FILTER html %]">&nbsp;</th>
    <th>ale ne když (přepíše nastavení viz výše):</th>
  </tr>

  [% FOREACH event = neg_events %]  
    [% count = loop.count() %]
    <tr class="bz_row_[% count % 2 == 1 ? "odd" : "even" %]">
      [% FOREACH relationship = relationships %]
        <td class="center">
          <input type="checkbox" value="1"
                 name="neg-email-[% relationship.id %]-[% event.id %]"
                 [%+ 'checked="checked"' IF NOT user.mail_settings.${relationship.id}.${event.id} %]>
        </td>
      [% END %]
      <td>[% event.description FILTER html %]</td>
    </tr>
  [% END %]
</table>

<hr>

<h3>Sledování uživatelů</h3>

<p>
Pokud sledujete uživatele, je to jako používat jeho boty z pohledu
odesílání e-mailů. E-mail tedy není odeslán podle <u>vašich</u>
nastavení, ale podle <u>jeho</u> vztahu k [% terms.bugu %] 
(např. Příjemce).
</p>

[% IF watchedusers.size %]
  <p>Momentálně sledujete uživatele v tomto seznamu:</p>
  <p>
    <select id="watched_by_you" name="watched_by_you" multiple="multiple" size="5">
        [% FOREACH w = watchedusers %]
           <option value="[% w FILTER html %]">[% w FILTER html %]</option>
        [% END %]
    </select>
    <br>
    <input type="checkbox" id="remove_watched_users" name="remove_watched_users">
    <label for="remove_watched_users">Remove selected users from my watch list</label>
  </p>
[% ELSE %]
  <p>Momentálně nesledujete zádné uživatele.</p>
[% END %]


<p id="new_watched_by_you">Přidat uživatele do seznamu sledovaných (seznam oddělený čárkami):
  [% INCLUDE global/userselect.html.tmpl
     id => "new_watchedusers"
     name => "new_watchedusers"
     value => ""
     size => 60
     multiple => 5
  %]
</p>

<p id="watching_you">Uživatelé, kteří sledují vás:<br>
  [% IF watchers.size %]
    [% FOREACH watcher = watchers %]
      [% watcher FILTER html %] <br>
    [% END %]
  [% ELSE %]
    <i>Nikdo</i>
  [% END %]
</p>

<hr>

<h3>Ignorovat [% terms.bugs %]</h3>

<p>
  Můžete specifikovat seznam [% terms.bugsu %] pro které nikdy nechcete dostávat
  jakákoliv upozornění e-mailem tak, že přidáte jejich ID jako seznam oddělený čárkami.
  Odstranění [% terms.bugu %] označením v současném seznamu ignorovaných
  znovu obnoví upozornění e-mailem pro tento [% terms.bug %].
</p>
[% IF user.bugs_ignored.size %]
  <p>
    Nyní ignorujete:
    <table>
    [% FOREACH bug = user.bugs_ignored %]
      <tr>
        <td>
          <input type="checkbox" name="remove_ignored_bug_[% bug.id FILTER html %]" value="1">
        </td>
        <td><a href="[% urlbase FILTER html %]show_bug.cgi?id=[% bug.id FILTER uri %]">
          [% bug.id FILTER html %]</a>
        </td>
        <td>[% bug.status FILTER html %]</td>
        <td>
          [% IF user.can_see_bug(bug.id) %]
            - [% bug.summary FILTER html %]
          [% ELSE %]
            (soukromý)
          [% END %]
        </td>
      </tr>
    [% END %]
    </table>
  </p>
[% END %]

<p>
  Add [% terms.bugs %]:<br>
  <input type="text" id="add_ignored_bugs" 
         name="add_ignored_bugs" size="60">
</p>
